<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>STANDOUT OASIS</title>
    <link rel="shortcut icon" href="/static/images/logo_fav.png">
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
      />
      <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous">
      <link rel="stylesheet" href="/static/css/compra.css">
</head>
<body>
    <div class="main-login">
        <div class="left-login">
            <h1>Finalize sua compra,<br> asseguramos uma entrega<br> rápida e segura!</h1>
            <img src="/static/images/mail-sent-animate.svg" class="left-login-image" alt="Astronauta Animação">
        </div>
        <div class="right-login">
        <div class="card-login">
            <h1>LOGIN</h1>
            <div class="textfield">
                <label for="text">CEP</label>
                <input type="text" name="CEP" placeholder="CEP">
            </div>
            <div class="textfield">
                <label for="text">Telefone</label>
                <input type="text" name="Telefone" placeholder="Telefone">
            </div>
            <div class="textfield">
                <label for="senha">N° cartão</label>
                    <input type="text" name=" N° cartão " placeholder="N° cartão">
            </div>
            <button class="btn-login">
                    Login
            </button>
            <div class="link" style="text-decoration: none;">
                <a class="link" style="text-decoration: none;" href="file:///D:/Visual%20Studio%20Code/html/Login%202/login.html">
                    Entrar
                </a>
            </div>
        </div>
    </div>
</div>

</body> 
</html>